body{
    margin: 0px;
}
/* NAVIGATION BAR -> VERY IMPORTANT!!! */
.topnav {
    overflow: hidden;
    background-color: #393939;
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-between;
}
  
.topnav a {
    float: Left;
    color: #f2f2f2;
    text-align: center;
    padding:20px 17px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
}
.topnav .logo{
    text-align: center;
    padding: 10px 20px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topnav .link {
    display: flex;
        align-items: center;
}
.tempoi{
    padding: 0 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:beige
}
/* HOME -> VERY IMPORTANT!!! */
section.home{
    background: url("Background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:700px;
    padding-top:250px;
    padding-left: 25px;
    padding-right: 25px;
}
section.home .welcome{
    text-align: center;
    Font-size: 100px;
}
section.home .welcome .welcoming{
    Font-size: 20px;
    text-align: center;
}
section.home .welcome .welcomingtwo{
    Font-size: 20px;
    text-align: center;
}
section.scrollone{
    background-color: rgb(35, 95, 40);
    height: 30px;
}
section.scrollone .scrolldown{
    text-align: center;
    Font-size: 25px
}
/* ABOUT -> VERY IMPORTANT!!! */
* {
    box-sizing: border-box;
}
section.about{
    background-color: rgb(46, 116, 52);
    height:700px
}
section.about .column {
    float: left;
    width: 33.333%;
    padding: 0 10px;
    height: 400px
}
section.about .titlerow{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 100px;
    text-align: center;
}
section.scrollone{
    background-color: rgb(35, 95, 40);
    height: 30px;
}
section.scrollone .scrolldown{
    text-align: center;
    Font-size: 25px
}
/* PRODUCT -> VERY IMPORTANT!!! */
section.product{
    background: url("Background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:700px;
    padding-top: 20px;
    padding-bottom: 20px;
}
section.product .titleproduct{
    text-align: center;
    font-size: 100px;
}
* {
    box-sizing: border-box;
}
section.product .row .column {
    float: left;
    width: 33.333%;
    padding: 0 10px;
    padding-bottom: 10px;
}
section.product .row {margin: 0 5px;
}
section.product .row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    section.product .row .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}
section.product .row .column .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
/* CONTACT -> VERY IMPORTANT!!! */
section.contact{
    background-color: rgb(46, 116, 52);
    height:700px
}